.about-container {
  margin: 120px 10%;
}


.about-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about-head-text {
  width: 60%;
  text-align: justify;
}

#about-photo1 {
  width: 30%;
  height: 100%;
}

.about-bottom {
  text-align: justify;
}
