
.container-whole {
  // background-color: $dark-grey;
  margin: 0 5%;
  // background-color: $tan;
}

.event_header {
  display: flex;
  justify-content: space-between;
}

#event_header_cp3 {
  width: 95%;
}

.event-header-with-rsvp {
  display: flex;
  justify-content: space-between;
}

.event-header-with-rsvp-text {
  // width: 75%;
}

.rsvp {
  transition: color 0.5s;
  font-size: 28px;
  margin-left: 5%;
  color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $red;
  &:hover {
    text-decoration: none;
    // background-color: $tan;
    color: $red;
  }
}

#rsvp-right {
  height: max-content;
  p {
  text-align: right;
  white-space: nowrap;
  }
}

#rsvp-under {
  display: none;
}


.event_header_text {
  width: 66%;
  margin: 115px 0;
  opacity: 1;
  letter-spacing: 1px;



-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.event-description {
  font-weight: lighter;
  font-size: 20px;
}

.event_title {
  writing-mode: vertical-rl;
  position: fixed;
  right: 10px;
  top: 45%;
  // text-orientation: upright;
  h3 {
    font-weight: 200;
    font-size: 20px;
  }
  a {
    color: $red;
    text-decoration: none;
    opacity: 0.7;
  }
}

.event_header_text p {
  line-height: 1.8;
  letter-spacing: 1px;
  text-align: justify;
}

@keyframes fadein { /* for fade in effect */
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container-gallery {
  margin-top: 20px;
}

 .gallery {
   display: flex;
   flex-wrap: wrap;
   margin-top: 40px;
   margin-bottom: 5%;
   // border: 1px solid rgba(27, 27, 28, 0.8);
   border-width: thin;
   opacity: 1;
   -webkit-animation: fadeingallery 5s; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeingallery 5s; /* Firefox < 16 */
           -ms-animation: fadeingallery 5s; /* Internet Explorer */
            -o-animation: fadeingallery 5s; /* Opera < 12.1 */
               animation: fadeingallery 5s;
 }

 @keyframes fadeingallery { /* for fade in effect */
     0% { opacity: 0; }
     30% { opacity: 0; }
     100%   { opacity: 1; }
 }




 .gallery-column {
   flex: 50%;
   max-width: 50%;
 }


 .piece {
  padding: 8%;
  img {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
 }


 .piece3 {
  transition: filter 0.4s;
 }

 .piece3:hover {
 -webkit-filter: brightness(85%);
 // height: 200%;
 // width: 200%;
 }


 .piece-info {
  text-align: center;
  color: grey;
 }

 .piece-info-text {
  text-align: center;
 }


#gallery-separator {
  width: 66%;
  font-size: 32px;
  font-weight: lighter;
  padding-left: 4%;
  text-align: justify;
  letter-spacing: 6px;
}


 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 1500px) {
   .gallery-column {
     flex: 50%;
     max-width: 50%;
   }
 }

 @media screen and (max-width: 1400px) {
   #rsvp-right {
     display: none;
   }

   #rsvp-under {
     display: initial;
   }
 }



 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 1000px) {
   .gallery-column {
     flex: 100%;
     max-width: 100%;
   }

   #gallery-separator {
    width: 85%;
    padding-left: 8%;
   }

   .event_header_text {
    width: 85%;
   }

   .event_header_text p {
     line-height: 1.5;
     letter-spacing: 1px;
     text-align: justify;
   }
 }




@media screen and (max-width: 400px) {
  .event_header_text p {
    line-height: none;
    letter-spacing: none;
    text-align: justify;
  }

  .piece img {
    height: 336px;
  }
}
