<% if @event.id == 1 %>
  <em><h2 style="font-weight: 200">Seeing</h2></em>
      <h3>What is something in the past that has changed who you are?</h3>
      <hr>
      <div class="event-description">
        <p>“We often see people in the Downtown Eastside sitting on the sidewalk holding cardboard with a plea on it. Some examples that I'm sure you can relate to include: "Spare change please" or "Need Food" or even for those who get creative, "Smile if you masturbate". Although this showed me what the person's NEEDS were, I realized it wasn't reflective of what the person's story was. To find out, I decided -- why not ask a question that helped me learn about who a person was rather than their needs only?” <em> - Christina Wong, Executive Director of Employ to Empower</em></p>
        <p>The first Cardboard Project features a collection of 100+ responses written by Vancouver's Downtown Eastside sharing something in their past that's changed who they are today. The cardboard responses boiled down to three main themes: Human Connection, Addiction and Recovery.</p>
      </div>
<% elsif @event.id == 2 %>
  <em><h2 style="font-weight: 200">Hearing</h2></em>
      <h3>What is the most meaningful thing you have ever heard?</h3>
      <hr>
      <div class="event-description">
        <p>Attentive Listening is listening without judgement and with an open mind. With this in mind we encourage you to heighten your senses, and learn from people’s stories and allow one’s voice to be amplified and heard, rather than allowing one’s physical appearance hinder your connection with them.</p>
        <p>Similar to the first year, the Cardboard Project 2.0 features 100+ responses written by Vancouver’s Downtown Eastside sharing the most meaningful thing they’ve ever heard.</p>
        <p>Moving forward we encourage you to continue to have meaningful conversations, challenge stereotypes, and learn to listen differently.</p>
      </div>
<% elsif @event.id == 3 %>
  <div class="event-header-with-rsvp">
    <div class="event-header-with-rsvp-text">
      <em><h2 style="font-weight: 200">Connection in Social Isolation</h2></em>
      <h3>What have you learned about community and connection in the past year?</h3>
      <hr>
      <div class="event-description">
        <p>In the midst of a historic moment in time, we have globally faced a year of social disconnect and isolation, challenging the way that we connect with others and shining a light on the importance of community. This year we have collected 100+ responses from members of our Downtown Eastside community, as well as responses from the greater Vancouver community and all those participating virtually. </p>
        <p>We hope that these responses will provide insight to attendees of the very human and real experiences this past year has brought. By hosting our event virtually, our entrepreneurs and community thought leaders will share the lessons, realities, and hopes that we have for community connectedness moving forward.</p>
      </div>
    </div>
    <a id="rsvp" target="_blank" href="https://www.eventbrite.ca/e/the-cardboard-project-30-community-connection-in-a-time-of-disconnect-tickets-150845542077">Register for the live Event</a>
  </div>
<% end %>

