<footer>
  <div class="footer">
    <div class="footer-logo">
      <!-- uncomment out to reveal ETE logo -->
      <%#= image_tag "ete-logo-3.png", alt: "alttext", height: 100, width: 200 %>
      <p id="presented-by">The Cardboard Project is presented by Employ to Empower</p>
    </div>
    <div class="footer-lists">
      <div class="footer-links">
        <ul>
          <li><a href="https://employtoempower.com/">Employ to Empower</a></li>
          <li><a href="https://employtoempower.com/about-us/">About Us</a></li>
          <li><a href="https://employtoempower.com/corporate-social-responsibility/">Corporate Programs</a></li>
          <li><a href="https://employtoempower.com/get-involved/">Get Involved</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="https://employtoempower.com/contact-us/">Contact Us</a></li>
          <li><a href="https://employtoempower.com/development/">Development Program</a></li>
          <li><a href="https://employtoempower.com/advocacy/">Advocacy Division</a></li>
          <li><a href="https://employtoempower.com/entrepreneurship/">Entrepreneurship Program</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
