<footer>
  <div class="footer-container">
    <div class="footer">
      <div class="footer-logo">
        <!-- uncomment out to reveal ETE logo -->
        <%= image_tag "Logo-ETE-White-2019.png", alt: "alttext", id: "footer-logo-image" %>
        <div class="text-and-sponsors">
          <p id="presented-by">The Cardboard Project is presented by Employ to Empower</p>
          <div class="sponsors">
            <a target="_blank" href="https://dailyhive.com/">
              <%= image_tag "sponsors/dailyhive.svg", alt: "alttext" %>
            </a>
            <a target="_blank" href="https://www.bchousing.org/home">
              <%= image_tag "sponsors/bchousing.png", alt: "alttext" %>
            </a>
            <a target="_blank" href="https://www.sfu.ca/vpexternal/vice-president-external-relations.html">
              <%= image_tag "sponsors/externalrelations.jpeg", alt: "alttext" %>
            </a>
          </div>
        </div>

      </div>
      <div class="footer-lists">
        <div class="footer-links">
          <ul>
            <li><a target="_blank" href="https://employtoempower.com/">Employ to Empower</a></li>
            <li><a target="_blank" href="https://employtoempower.com/about-us/">About Us</a></li>
            <li><a target="_blank" href="https://employtoempower.com/corporate-social-responsibility/">Corporate Programs</a></li>
            <li><a target="_blank" href="https://employtoempower.com/get-involved/">Get Involved</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <ul>
            <li><a target="_blank" href="https://employtoempower.com/contact-us/">Contact Us</a></li>
            <li><a target="_blank" href="https://employtoempower.com/development/">Development Program</a></li>
            <li><a target="_blank" href="https://employtoempower.com/advocacy/">Advocacy Division</a></li>
            <li><a target="_blank" href="https://employtoempower.com/entrepreneurship/">Entrepreneurship Program</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <a target="_blank" id="jordan-tag" href="https://github.com/jordannadroj">Designed and developed by Jordan Siemens</a>
      <div class="social">
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/employtoempower/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/employ-to-empower/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/employtoempower/"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
