<nav class="navbar navbar-expand navbar-light  justify-content-between">
    <%= link_to about_path, class: "navbar-brand" do  %>
      <img src="https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1618649254/cardboard/Logo-ETE-Written_1_lhg56k.png" alt="Employ to Empower" class="dekstop">
      <img src="https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1618649826/cardboard/Logo-ETE-Black-HalfSize-2019_b9qsaw.png" alt="Employ to Empower" class="mobile">
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-center mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/events/3">CP 3.0</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/2">CP 2.0</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/1">CP 1.0</a>
          </li>
        </ul>
    </div>
</nav>


<div class="container">
  <h1>The Cardboard Project</h1>
  <hr>
  <p>Cardboard Project event’s feature cardboard and cardboard responses in an artistically creative way and in order to spread important messages.</p>

  <p>The Cardboard Project is a unique event that was inspired by the culture of individuals experiencing homelessness and poverty, who often write messages and stories on pieces of cardboard. The Cardboard Project features a unique artwork, created using messages written on cardboard. These messages respond to a different question every year, focusing on human connection, recovery, wisdom, community, listening, spirituality, and other themes. The Cardboard Project also features talks by thought leaders, discussions with our members, experiences inviting us all to connect, and an exhibition of our members’ artistic creations. The overall goal of the Cardboard Project is to dismantle prevailing negative stigmas and strive towards a Downtown Eastside neighbourhood where members are seen, heard, and validated, while feeling connected to the greater community.</p>

  <br>

  <h1>The Story Behind it</h1>
  <p>“We often see people in the Downtown Eastside sitting on the sidewalk holding cardboard with a plea on it. Some examples that I'm sure you can relate to include: "Spare change please" or "Need Food" or even for those who get creative, "Smile if you masturbate". Although this showed me what the person's NEEDS were, I realized it wasn't reflective of what the person's story was. To find out, I decided -- why not ask a question that helped me learn about who a person was rather than their needs only? </p>

  <p>To find out, my team and I cut out 100+ cardboard pieces and began asking people to share something in their past that's changed who they are today. Some responses are uplifting and/or heartbreaking. Most importantly, these responses challenge us to see the Downtown Eastside community through a different lens. As a lover of tile art (I already had a giraffe in tile art in my room) and the cardboard responses, I decided to fuse both use the cardboard pieces to form the shape of three eyes. This will be featured on 10ft tall bamboo sticks designed by Marcel Mousseau (artist of the DTES)” <em>- Christina Wong, Executive Director of Employ to Empower</em></p>




  </div>

