<div class="banner">
  <%= cl_video_tag ("https://res.cloudinary.com/jordannadroj/video/upload/v1618952340/cardboard/CP_q8qisa.mp4"), class: "home_video", autoplay: :autoplay, loop: :loop, muted: :muted%>
  <!-- video -->
  <!-- <h1 id="title"></h1> -->
  <div class="home-text">
    <h1 id="homepage_question"><span id="banner-typed-text"></span></h1>
    <%= link_to event_path(3), id: "view" do %>
      <p><em>The Cardboard Project 3.0 &rarr;</em></p>
    <% end %>
  </div>
</div>


