<div class="banner" style="background-image: url(<%= cl_image_path "https://res.cloudinary.com/jordannadroj/image/upload/v1617387439/cardboard/wf8xucrfk1lfycfhxxkn.jpg"
 %>)">

  <h1 id="title"></h1>
  <h4><span id="banner-typed-text"></span></h4>
  <%= link_to "VIEW", event_path(3), id: "view"  %>
</div>


