.footer {
  background: $red;
  display: flex;
  justify-content: space-around;
  color: white;
  // border-top: 1px solid $dark-grey;
  align-items: center;
  padding: 30px 90px;
  margin: 5% 0 0 0;
  width: 100vw;
  border-bottom: 1px solid $tan;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  background: $red;
  padding: 30px 14%;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

#footer-logo-image {
  width: 60px;
  height: auto;
}

.footer-lists {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-links ul {
  padding-left: 0;
}

.footer-links li {
  list-style-type: none;
  color: white;
}


.social ul {
  padding-left: 0;
}

.social li {
  list-style-type: none;
  color: white;
  display: inline;
  padding: 0 8px;
  font-size: 20px;
}

.social a {
  color: white;
}

.footer-links a {
  color: white;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

#presented-by {
  // width: 280px;
  margin: 0 0 0 22px;
}

#jordan-tag {
  color: white;
  opacity: 0.8;
  font-weight: 100;
  &:hover {
    text-decoration: none;
    color: white;
  }
}


@media screen and (max-width: 900px) {
  .footer {
    display: block;
  }
  .footer-logo {
    margin-bottom: 54px;
    width: 80%;
  }
  .footer-lists {
    width: 80%;
    justify-content: space-between;
  }

  .footer-bottom {
    padding: 30px 90px;
  }
}


@media screen and (max-width: 740px) {
  .footer-lists {
    display: block;
  }

  #presented-by {
    width: 70%;
  }


  .footer-bottom {
    display: block;
    padding: 30px 90px;
  }

  .social ul {
    margin-top: 16px;
  }


}

@media screen and (max-width: 400px) {
 .footer {
  padding: 30px 12px;
 }

 .footer-logo {
    width: 95%;
    display: block;
  }

  #presented-by {
    width: 100%;
    margin: 18px 0 0 0 ;
  }

  .footer-bottom {
    display: block;
    padding: 30px 12px;
  }

}


